/*Pestaña desplegable del carrito*/
.cart_section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.container_title_icon_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.h2_cart {
    font: 300 26px "DM Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: var(--color-text-white);
}

.close_cart {
    color: var(--color-red);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.close_cart:hover {
    color: var(--color-red-hover);
}

.buttons_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.buttons_cart.hidden {
    display: none;
}

.cart_total {
    font: 400 22px "Work Sans", sans-serif;
    color: var(--color-text-white);
    margin: 10px 0 20px 0;
    text-align: center;
}

.cart_total:hover {
    color: var(--color-secondary-hover);
    cursor: default;
}

.delete_button, .clear_button, .end_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font: 500 15px "Quicksand", sans-serif;
    border-radius: 8px;
    background-color: var(--color-red);
    color: var(--color-text-white);
    padding: 5px 0;
    width: 70%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.end_button {
    width: 60%;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
}

.end_button:hover {
    background-color: var(--color-secondary-hover);
}

.clear_button {
    width: 45%;
}

.container_clear_button {
    display: flex;
    justify-content: flex-end;
}

.container_clear_button.hidden {
    display: none;
}

.clear_button {
    margin-top: 20px;
}

.delete_button:hover, .clear_button:hover {
    background-color: var(--color-red-hover);
}

.items_cart_scrollable {
    flex-grow: 1;
    overflow-y: auto; /* 	Sigue permitiendo el scroll si el contenido excede el contenedor */
    margin-top: 16px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE / Edge antiguo */
}

.items_cart_scrollable::-webkit-scrollbar {
    display: none; /* Chrome / Safari / Edge */
}

.items_cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    align-items: stretch;
    justify-items: center;
    color: var(--color-text-white);
}

.card_product_cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Sans JP", sans-serif;
    width: 145px;
    height: 100%;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    background-color: var(--color-bk-product-card);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    
}

.card_product_cart img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card_product_cart h3 {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    height: 60px;
}

.card_product_cart .cant {
    font-size: 12px;
    font-weight: 200;
}

.card_product_cart .subtotal {
    font-size: 16px;
    font-weight: 400;
}

.empty_cart_text {
    font: 300 26px 'DM Sans', sans-serif;
    grid-column: span 2; /* span significa "extenderse o abarcar" NO hace referencia a la etiqueta <span> */
}