/*HEADER*/
.container_title_date_ticket {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title_ticket {
    margin-bottom: 0;
}

.date_ticket {
    font: 400 30px 'DM Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-search-bar);
}

.container_exit_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font: 500 18px "Quicksand", sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
    border-radius: 8px;
    padding: 10px;
    margin-left: 200px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 120px;
}

.container_exit_icon:hover {
    background-color: var(--color-secondary-hover);
}


/*MAIN*/
.ticket_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 40px 60px 40px;
    background-color: var(--color-bk-section-products);
    border-top: 1px solid var(--color-bk-product-card);
    height: 100%;
}

.subtitle_ticket {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--color-text-white);
    border-bottom: 2px solid var(--color-secondary);
}

.total_ticket {
    font: 400 22px "Work Sans", sans-serif;
    color: var(--color-search-bar);
    margin: 20px 0 40px 0;
    text-align: center;
}

.table_ticket {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: var(--color-header);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    overflow: hidden;
}

.table_ticket thead {
    font-size: 20px;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
}

.table_ticket th {
    padding: 10px 10px;
    text-align: left;
}

.table_ticket td {
    font-size: 18px;
    border-bottom: 1px solid var(--color-secondary);
    padding: 10px 10px;
    color: var(--color-search-bar);
}

.table_ticket tr:hover {
    background-color: var(--color-bk-search-bar);
    transition: all 0.5s ease-in-out;
}