/*HEADER*/
.navegacion.administrador li {
    border-radius: 8px;
    margin: 0 30px;
    padding: 10px 12px; 
    transition: all 0.4s ease-in-out;  
}

.navegacion.administrador li:hover {
    transform: scale(1.05); 
}

.navegacion.administrador a:hover {
    color: var(--color-text);   
    transform: scale(1.04);
}

.navegacion.administrador .ir_a_login {
    background-color: var(--color-red);
}

.navegacion.administrador .ir_a_ventas {
    background-color: var(--color-secondary-hover);
}

.header_right {
    justify-content: space-evenly;
}

.new_product {
    display: flex;
    align-items: center;   
    justify-content: center; 
    gap: 8px;        
    font: 500 18px "Quicksand", sans-serif;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.new_product:hover {
    background-color: var(--color-secondary-hover);
}

/*MAIN*/

.product_card {
    height: 480px;
}

.product_card:hover {
    transform: unset;
    cursor: pointer;
}

/* Estado del producto */

.estado_producto {
    font: 500 20px "Work Sans", sans-serif;
    padding: 5px 10px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    color: var(--color-text);
}

.estado_producto.activo {
    color: var(--color-secondary-hover);
}

.estado_producto.inactivo {
    color: var(--color-red);
}

/* Contenedor de botones del admin */
.acciones_admin {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: auto;
    width: 100%;
    align-items: center;
}

/* Botones del admin */
.acciones_admin > * {
    font: 500 16px "Quicksand", sans-serif;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    color: var(--color-text);
    transition: all 0.3s ease-in-out;
    width: 90%;
}

.btn_editar {
    background-color: var(--color-tertiary);
}

.btn_editar:hover {
    background-color: var(--color-tertiary-hover);
}

.btn_desactivar {
    padding: 5px 0;
    background-color: var(--color-red);
}

.btn_desactivar:hover {
    background-color: var(--color-red-hover);
}

.btn_activar {
    padding: 5px 0;
    background-color: var(--color-secondary);
}

.btn_activar:hover {
    background-color: var(--color-secondary-hover);
}

