/*VARIABLES DE COLORES*/

:root {
    --color-text: #ffffff;
    --color-bk-body: #1e1e2f;
    --color-header: rgba(30, 30, 47, 0.85);
    --color-main: rgb(44, 44, 75);
    --color-footer: rgb(31, 31, 31);
    --color-secondary: #02e197;
    --color-secondary-hover: #20b860;

    --color-search-bar: #d4d4d4c4;
    --color-focus-search-bar: rgba(172, 172, 172, 0.24);
    --color-bk-search-bar: rgba(255, 255, 255, 0.1);
    --color-bk-section-products: rgba(255, 255, 255, 0.02);
    --color-bk-product-card: rgba(255, 255, 255, 0.05);
    --color-bk-access-section: rgba(255, 255, 255, 0.05);
    --color-bk-menu-mobile: #1e1e2fc2;
    --color-bk-ticket: rgba(30, 30, 47, 0.85);
    --color-bk-ticket-hover: rgba(255, 255, 255, 0.1);    
    --color-text-ticket: #d4d4d4c4;
    --color-hover-cart: #c0c0c0;
    --color-section-cart: rgba(44, 62, 80, 0.95);
    --color-red: #C1121F;
    --color-red-hover: #780000;
}

.lightmode {
    --color-text: #000000;
    --color-bk-body: #d4d4d4;  
    --color-header: rgba(96, 106, 117, 0.9);
    --color-main: #e7e7e7;

    --color-search-bar: #4a4a4b;            
    --color-focus-search-bar: rgba(22, 22, 22, 0.15); 
    --color-bk-search-bar: rgba(194, 194, 194, 0.973);
    --color-bk-section-products: rgba(0, 0, 0, 0.02);  
    --color-bk-product-card: rgba(0, 0, 0, 0.027);
    --color-bk-access-section: rgba(243, 243, 243, 0.932);
    --color-bk-menu-mobile: #e2e2e2c2;
    --color-bk-ticket-hover: rgba(255, 255, 255, 0.1);
    --color-bk-ticket: rgba(125, 132, 139, 0.9);
    --color-text-ticket: #ffffffdc;
    --color-hover-cart: #3c3c3c; 
    --color-section-cart: rgba(44, 62, 80, 0.95);
    --color-red: #f1101f;
    --color-red-hover: #be0c0c;
}

/*ETIQUETAS GENÉRICAS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* transiciones suaves al scrollear */
}

body {
    background-color: var(--color-bk-body);
    /*scrollbar-color: var(--color-secondary) var(--color-text); Firefox (thumb, track) */
}

h1 {
    font: 400 60px 'DM Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--color-text);
}

h2 {
    font-family: "Hunnin", sans-serif;
    font-weight: 400;
}

li {
    list-style: none; /* saca puntos, etc del listado*/
}

a {
    text-decoration: none;
}

button {
    all: unset;/* saca estilos predeterminados */
    cursor: pointer;
}

input:focus, select:focus {
    outline: none; /* elimina borde o contorno */
}

/*HEADER*/
.header_left, .header_center, .header_right {
    display: flex;
    align-items: center;
}

.header_left {
    justify-content: flex-start;
}

.header_center {
    justify-content: center;
}

.header_right {
    justify-content: end;
}

.open_navbar, .close_navbar {
    display: none;
}

.navegacion {
    display: flex;
    font: 400 22px "Titillium Web", sans-serif;
    text-transform: uppercase;
}

.navegacion li {
    padding: 0 20px 0 20px;
}

.navegacion a {
    color: var(--color-text);
    transition: all 0.4s ease-in-out;
}

.navegacion a:hover {
    color: var(--color-secondary);
}

.nav_link.admin {
    background-color: var(--color-red);
    border-radius: 8px;
    padding: 5px 7px;
}

.nav_link.admin:hover {
    background-color: var(--color-red-hover);
    color: var(--color-text);
}

.nav_link.active {
    color: var(--color-secondary);
}

.toggle_cart .cart_icon{
    color: var(--color-secondary);
    transition: color 0.3s ease-in-out;
    margin-right: 88px;
}

.toggle_cart .cart_icon:hover {
    color: var(--color-secondary-hover);
}

.contador_cart {
    font: 400 15px "Work Sans", sans-serif;
    text-align: center; 
    line-height: 18px; /* espacio entre lineas vertical */
    position: absolute;
    top: 35px;
    right: 130px;
    background-color: var(--color-red);
    color: var(--color-text);
    border-radius: 50%;
    width: 19px;
    height: 19px;
}

.theme_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    padding: 0;
    top: 35px;
    right: 20px;
}

.theme_switch svg {
    fill: var(--color-secondary);
}

.theme_switch svg:first-child {
    display: none;
}

.lightmode .theme_switch svg:last-child {
    display: none;
}

.lightmode .theme_switch svg:first-child {
    display: block;
}

/*MAIN*/

/*Sección de productos*/
.product_section {
    padding: 70px 40px 60px 40px;
    background-color: var(--color-bk-section-products);
    border-top: 1px solid var(--color-bk-product-card);
}

.container_search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.search_bar {
    padding: 10px 15px;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: var(--color-bk-search-bar);
    color: var(--color-text);
    transition: all 0.5s ease-in-out;
    font-size: 17px;
}

.search_bar::placeholder {
    font-size: 17px;
    color: var(--color-search-bar);
}

.search_bar:focus {
    background-color: var(--color-focus-search-bar);
}

.search_bar:focus::placeholder {
    color: var(--color-focus-search-bar);
}

.container_search_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    color: var(--color-text);
    height: 100%;
    width: 50px;
    border-radius: 0 8px 8px 0;
    transition: all 0.3s ease-in-out;
}

.container_search_icon:hover {
    background-color: var(--color-secondary-hover);
    cursor: pointer;
}

.container_select {
    width: 250px;
    position: relative;
    user-select: none; /* No se pueda seleccionar el texto/x con el cursor */
    font: 400 18px "Hunnin", sans-serif;
    margin-left: 15px;
}

.container_select_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px 8px 5px;
    border-bottom: 3px solid var(--color-secondary);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    color: var(--color-search-bar);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container_select_icon i {
    color: var(--color-secondary);
}

.container_select_icon:hover {
    border-bottom: 3px solid var(--color-secondary-hover);
}

.select_items {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--color-header);
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}

.select_items li {
    color: var(--color-text);
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.select_items li:hover {
    background-color: var(--color-secondary);
}

.select_items.hidden {
    display: none;
}

.select_items:not(.hidden) {
    display: block; 
}

.icon_hidden {
    display: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas de mismo espacio */
    justify-items: center;
    gap: 30px; /* espacio entre filas y columnas */
    margin: 50px 0 60px 0;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bk-product-card);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 0 20px 20px 20px;
    width: 220px;
    height: 370px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);
}

.product_card:hover {
    transform: translateY(-3px); /* se mueve 3 pixeles arriba */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.product_card img {
    width: 140px;
    height: 140px;
    margin: 10px 0;
    object-fit: contain;
}

.container_img_card {
    width: 220px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease-in-out;
}

.product_card:hover .container_img_card {
    border-color: var(--color-secondary-hover);
}

.product_card h2 {
    font-size: 22px;
    color: var(--color-text);
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; /* cuando es largo el texto aparece "...."*/
    margin: 20px 0 10px 0;
}

.product_card span {
    font: 400 20px "Work Sans", sans-serif;
    color: var(--color-search-bar);
    margin: 20px 0;
}

.container_add_to_cart_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 500 15px "Quicksand", sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: none;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
    margin-top: auto;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.container_add_to_cart_icon:hover {
    background-color: var(--color-secondary-hover);
}

.catalogo_vacio {
    font: 300 30px 'DM Sans', sans-serif;
    grid-column: span 6;  /* span significa "extenderse o abarcarque en este caso 6 columnas" NO hace referencia a la etiqueta <span> */
    color: var(--color-text);
}

/*FOOTER*/

.footer_section {
    text-align: center;
}

/*GRILLAS*/
#grilla_index {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; /* organiza el layout */ 
    grid-template-columns: 1fr 2fr 1fr; /* 3 columnas dos iguales y una distinta */ 
    grid-template-rows: auto 1fr auto; /* 3 columnas, dos auto y una especifica */ 
    min-height: 100vh;
}

#grilla_header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 2fr 1fr; /* 3 columnas, dos iguales y una distinta */ 
    align-items: center;
    align-content: center;
    justify-items: stretch;
    width: 100%;
    height: 130px;
    padding: 0 50px 10px 50px;
    background-color: var(--color-header);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(15px);
    border-bottom: 2px solid var(--color-secondary);
}

#grilla_main { /* asigna elemento en su posicion */
    grid-area: main;
    background-color: var(--color-main);
}

#grilla_footer { /* asigna elemento en su posicion */
    grid-area: footer;
    background-color: var(--color-footer);
}


/*BARRA DE SCROLL*/
/*Chrome, Edge, Safari*/
::-webkit-scrollbar{ /* personaliza la barra  */
    width: 10px;
}

::-webkit-scrollbar-thumb{ /* personalizar la parte que se mueve del scrollbar */
    background: var(--color-secondary);
    border-radius: 15px;
}

/*MEDIA QUERIES*/

/*1550 PX*/
@media (max-width: 1550px) {
    .products {
        grid-template-columns: repeat(5, 1fr);
    }
}

/*1440 PX*/
@media (max-width: 1440px) {
    #grilla_header {
        padding: 0 20px 10px 20px;
    }
    .navegacion li {
        padding: 0 10px 0 10px;
    }
    .toggle_cart {
        margin-right: 30px;
    }
}

/*1300 PX*/
@media (max-width: 1300px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
    .container_select {
        margin-top: 10px;
    }
}

/*1200 PX*/
@media (max-width: 1200px) {
    #grilla_header {
        grid-template-columns: 1fr;
        grid-template-columns: auto auto auto;
        height: 200px;
    }
    .header_left {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-content: center;
    }
    .header_center {
        grid-column: 2;
        grid-row: 2;
        margin-top: 20px;
        justify-content: end;
    }
    .header_right {
        grid-column: 3;
        grid-row: 2;
        margin-top: 20px;
    }
    .contador_cart {
        top: 135px;
    }
    .theme_switch {
        top: unset;
    }
    .container_select {
        margin: 30px 0 5px 5px;
    }
    .product_section {
        padding-top: 50px;
    }
}

/*1050 PX*/
@media (max-width: 1050px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*900 PX*/
@media (max-width: 900px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
    .toggle_cart, .cart_icon {
        margin-right: 0;
    }
    .contador_cart {
        right: 100px;
    }
}

/*800 PX*/
@media (max-width: 800px) {
    #grilla_header {
        height: 252px;
    }
    .open_navbar, .close_navbar {
        display: block;
        cursor: pointer;
    }
    .open_navbar {
        grid-row: 1;
        grid-column: 1;
        color: var(--color-secondary);
        transition: all 0.3s ease-in-out;
    }
    .open_navbar.hidden {
        display: none;
    }
    .open_navbar:hover {
        color: var(--color-secondary-hover);
    }
    .close_navbar {
        color: var(--color-red);
    }
    .close_navbar:hover {
        color: var(--color-red-hover);
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 250px;
        z-index: 10;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        background-color: var(--color-bk-menu-mobile);
        transition: all 0.4s ease-in-out;
    }
    .navbar.visible {
        opacity: 1;
        visibility: visible;
    }
    .header_center {
        grid-row: unset;
        grid-column: unset;
        margin-top: unset;
    }
    .navegacion {
        flex-direction: column;
        align-items: start;
    }
    .navegacion li {
        padding: 5px 10px;
    }
    .header_right {
        margin-top: unset;
        grid-row: 1;
    }
    .contador_cart {
        top: 93px;
    }
    .container_title_select {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_search {
        width: 100%;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*700 PX*/
@media (max-width: 700px) {
    .header_left {
        grid-row: 2;
    }
    .contador_cart {
        top: 37px;
    }
}

/*550 PX*/
@media (max-width: 550px) {
    h1 {
        font-size: 50px;
    }
    .products {
        grid-template-columns: 1fr;
    }
}

/*400 PX*/
@media (max-width: 400px) {
    .logo {
        width: 300px;
        margin-top: 20px;
    }
}
