/*HEADER*/
.container_exit_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font: 500 18px "Quicksand", sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 8px;
    padding: 10px;
    margin-left: 200px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 120px;
}

.container_exit_icon:hover {
    background-color: var(--color-secondary-hover);
}


/*MAIN*/
.ticket_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
    padding: 20px 30px;
}

.ticket_section.not_ticket {
    grid-template-columns: 1fr;
}

.h1_not_ticket {
    margin: auto;
}

.ticket_card.hidden {
    display: none;
}

.ticket_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bk-product-card);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 20px 30px;
    width: 500px;
    height: 100%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);
}

.ticket_card ul {
    font: 400 24px "Work Sans", sans-serif;
    color: var(--color-search-bar);
    margin: 10px 0;
    text-align: start;
}

.ticket_card ul li {
    font: 300 18px "Work Sans", sans-serif;
    color: var(--color-secondary);
    margin-top: 5px;
}

.title_ticket {
    font: 400 45px 'DM Sans', sans-serif;
    margin-bottom: 10px;
}

h2.user_date_ticket {
    font: 300 22px 'Roboto Mono', monospace;
    text-align: center;
    color: var(--color-text);
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.total_ticket {
    font: 400 22px 'Roboto Mono', monospace;
    color: var(--color-text);
    margin: 20px 0 40px 0;
    text-align: center;
}

.download_pdf {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 500 18px "Quicksand", sans-serif;
    color: var(--color-text);
    border: 2px solid var(--color-red);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 250px;
}

.download_pdf:hover {
    background-color: var(--color-red);
}

.download_pdf i {
    color: var(--color-red);
    transition: all 0.4s ease-in-out;
}

.download_pdf:hover i {
    color: var(--color-text);
}

/*MEDIA QUERIES*/

/*1500 PX*/
@media (max-width: 1500px) {
    .container_exit_icon {
        margin-left: 100px;
    }
}

/*1220 PX*/
@media (max-width: 1220px) {
    .container_exit_icon {
        margin-left: 50px;
    }
}

/*1200 PX*/
@media (max-width: 1200px) {
    #grilla_header {
        justify-items: center;
        grid-template-columns: auto auto auto;
    }
    .container_logo {
        grid-column: 1 / -1;
    }
    .header_center {
        grid-column: 2;
        justify-content: center;
    }
    .container_exit_icon {
        margin-left: unset;
        grid-row: 2;
        grid-column: 1;
        margin-top: 20px;
    }
    .theme_switch {
        grid-row: 2;
        grid-column: 3;
    }
    .title_ticket {
        margin-right: 30px;
    }
    .table_ticket th, tr {
        text-align: center;
    }
}

/*800 PX*/
@media (max-width: 800px) {
    #grilla_header {
        justify-content: space-between;
        align-items: start;
    }
    .container_logo {
        grid-row: 1;
    }
    .open_navbar {
        margin-top: 18px;
    }
    .header_center {
        grid-column: 1;
    }
    .container_exit_icon {
        grid-row: 3;
        grid-column: 1 / -1;
    }
    .theme_switch {
        grid-row: 1;
        top: 0;
    }
    .container_title_date_ticket {
        flex-direction: column;
    }
    .title_ticket {
        margin-right: unset;
    }
}

/*600 PX*/
@media (max-width: 600px) {
    .logo {
        width: 300px;
        margin-top: 20px;
    }
}

/*500 PX*/
@media (max-width: 500px) {
    .table_ticket th, tr {
        padding: 5px;
    }
}

/*450 PX*/
@media (max-width: 450px) {
    .container_logo {
        grid-row: 2;
    }
    .hidden_mobile {
        display: none;
    }
}