/*HEADER*/

#grilla_header.header_bienvenida {
    grid-template-columns: 1fr;
    justify-items: center;
}

/*MAIN*/
.main_bienvenida {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/fondo-bienvenida-2.webp");
}

.access_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    position: relative;
    height: 300px;
    width: 400px;
    padding: 40px 30px; 
    border: 1px solid var(--color-bk-search-bar);      
    border-radius: 8px;
    background-color: var(--color-bk-product-card);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);
}

.access_section h1 {
    font-size: 50px;
}

.access_section input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--color-text-white);    
    background-color: var(--color-bk-search-bar);
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease-in-out;    
}

.access_section input::placeholder {
    color: var(--color-search-bar);
}

.access_section input:focus {
    background-color: var(--color-focus-search-bar);
}

.access_section input:focus::placeholder {
    color: var(--color-focus-search-bar);
}

.container_continue_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 500 18px "Quicksand", sans-serif;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 10px 16px 10px 16px;
    background: var(--color-secondary);
    color: var(--color-text-white);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container_continue_button:hover {
    background: var(--color-secondary-hover);
    transform: scale(1.03);
}